[submodule "LocalPods/CocoaExtension"]
	path = LocalPods/CocoaExtension
	url = git@github.com:Z-JaDe/CocoaExtension.git
[submodule "LocalPods/FunctionalSwift"]
	path = LocalPods/FunctionalSwift
	url = git@github.com:Z-JaDe/FunctionalSwift.git
[submodule "LocalPods/Encryption"]
	path = LocalPods/Encryption
	url = git@github.com:Z-JaDe/Encryption.git
[submodule "LocalPods/JDEther"]
	path = LocalPods/JDEther
	url = git@github.com:Z-JaDe/JDEther.git
[submodule "LocalPods/ModalManager"]
	path = LocalPods/ModalManager
	url = git@github.com:Z-JaDe/ModalManager.git
[submodule "LocalPods/SwifterRouter"]
	path = LocalPods/SwifterRouter
	url = git@github.com:Z-JaDe/SwifterRouter.git
[submodule "LocalPods/Validation"]
	path = LocalPods/Validation
	url = git@github.com:Z-JaDe/Validation.git
[submodule "LocalPods/YogaFlexBoxKit"]
	path = LocalPods/YogaFlexBoxKit
	url = git@github.com:Z-JaDe/YogaFlexBoxKit.git
[submodule "LocalPods/RxNetwork"]
	path = LocalPods/RxNetwork
	url = git@github.com:Z-JaDe/RxNetwork.git

[submodule "LocalPods/Fork/RxOptional"]
	path = LocalPods/Fork/RxOptional
	url = git@github.com:Z-JaDe/RxOptional.git
[submodule "LocalPods/Fork/RxSwiftExt"]
	path = LocalPods/Fork/RxSwiftExt
	url = git@github.com:Z-JaDe/RxSwiftExt.git
[submodule "LocalPods/Fork/RxGesture"]
	path = LocalPods/Fork/RxGesture
	url = git@github.com:Z-JaDe/RxGesture.git
[submodule "LocalPods/Fork/SwiftyUserDefaults"]
	path = LocalPods/Fork/SwiftyUserDefaults
	url = git@github.com:Z-JaDe/SwiftyUserDefaults.git
[submodule "LocalPods/Fork/CollectionKit"]
	path = LocalPods/Fork/CollectionKit
	url = git@github.com:Z-JaDe/CollectionKit.git
[submodule "LocalPods/iCarouselSwift"]
	path = LocalPods/iCarouselSwift
	url = git@github.com:Z-JaDe/iCarouselSwift.git
