[submodule "BaseSupport/Fork/RxOptional"]
	path = BaseSupport/Fork/RxOptional
	url = git@github.com:Z-JaDe/RxOptional.git
[submodule "BaseSupport/Fork/RxSwiftExt"]
	path = BaseSupport/Fork/RxSwiftExt
	url = git@github.com:Z-JaDe/RxSwiftExt.git
[submodule "BaseSupport/Fork/RxGesture"]
	path = BaseSupport/Fork/RxGesture
	url = git@github.com:Z-JaDe/RxGesture.git
[submodule "BaseSupport/Fork/SwiftyUserDefaults"]
	path = BaseSupport/Fork/SwiftyUserDefaults
	url = git@github.com:Z-JaDe/SwiftyUserDefaults.git
[submodule "BaseSupport/Fork/CollectionKit"]
	path = BaseSupport/Fork/CollectionKit
	url = git@github.com:Z-JaDe/CollectionKit.git

[submodule "BaseSupport/CocoaExtension"]
	path = BaseSupport/CocoaExtension
	url = git@github.com:Z-JaDe/CocoaExtension.git
[submodule "BaseSupport/FunctionalSwift"]
	path = BaseSupport/FunctionalSwift
	url = git@github.com:Z-JaDe/FunctionalSwift.git
[submodule "BaseSupport/Encryption"]
	path = BaseSupport/Encryption
	url = git@github.com:Z-JaDe/Encryption.git
[submodule "BaseSupport/JDEther"]
	path = BaseSupport/JDEther
	url = git@github.com:Z-JaDe/JDEther.git
[submodule "BaseSupport/ModalManager"]
	path = BaseSupport/ModalManager
	url = git@github.com:Z-JaDe/ModalManager.git
[submodule "BaseSupport/SwifterRouter"]
	path = BaseSupport/SwifterRouter
	url = git@github.com:Z-JaDe/SwifterRouter.git
[submodule "BaseSupport/Validation"]
	path = BaseSupport/Validation
	url = git@github.com:Z-JaDe/Validation.git
[submodule "BaseSupport/YogaFlexBoxKit"]
	path = BaseSupport/YogaFlexBoxKit
	url = git@github.com:Z-JaDe/YogaFlexBoxKit.git
[submodule "BaseSupport/RxNetwork"]
	path = BaseSupport/RxNetwork
	url = git@github.com:Z-JaDe/RxNetwork.git
